<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->


    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div>
        <p style="text-align: center;">Restaurant Menu</p>
      </div>
      <ul>
        <li ng-repeat="item in $ctrl.menuItems">
          <input type="checkbox" ng-model="foo" ng-change="selectedItems[$index]=!selectedItems[$index]">{{item.name}}
          <ul ng-show="selectedItems[$index]">
            <li ng-repeat="choice in item.choices">
              <input type="checkbox" ng-model="bar"
                ng-change="selectedChoices[$parent.$index + $index]=!selectedChoices[$parent.$index + $index]">{{choice.name}}
            </li>
            <div ng-show="bar==true && choice.related.length > 0">You might also want</div>
            <!-- <div ng-show="">You might also want</div> -->
            <!-- <ul ng-show="selectedChoices[$parent.$index + $index]"> -->
              <li ng-repeat="related in item.related">
                <input type="checkbox" ng-model="foobar"
                  ng-change="selectedRelated[$parent.$index.$index + $parent.$index + $index]=!selectedRelated[$parent.$index.$index + $parent.$index + $index]">{{related.name}}
                <ul ng-show="selectedChoices[$parent.$index.$index + $index]">
                  <li ng-repeat="choice2 in related.choices">
                    <input type="checkbox" ng-model="barfoo" ng-change="updateSelection(item)">{{choice2.name}}
                  </li>
                </ul>
              </li>
            <!-- </ul> -->
          </ul>

        </li>
      </ul>

    </div>
  </div>
</div>