<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->


        </div>
        <div class="col-md-10">
            <!--Body content-->
            <div>
                <p style="text-align: center;">Restaurant Menu</p>
            </div>
            <ul>
                <!-- These are the menu items -->
                <!-- Salad -->
                <li ng-repeat="item in $ctrl.menuItems">
                    <input type="checkbox" ng-model="item.selected" ng-change="changedParent($index)">{{item.name}}

                    <!-- These are the item relations -->
                    <!-- Santa Fe -->
                    <ul ng-show="item.selected">
                        <li ng-repeat="choice in item.choices">
                            <input type="checkbox" ng-model="choice.selected" +{{choice}}
                                ng-change="changedChoice($parent.$index, $index)">{{choice.name}}
                        </li>
                        <div ng-show="$ctrl.showOptionsInParentWithIndex[$index]">
                            <div>You might also want</div>

                            <li ng-repeat="related in item.related">
                                <!-- +++++++++++++ {{related}} +++++++++++++ -->
                                <input type="checkbox" ng-model="related.selected"
                                    ng-change="changedRelatedChoice($parent.$index, $index, related)">{{related.name}}

                                <ul ng-show="$ctrl.showOptionsInChoiceWithParentChoiceIndex[$parent.$index][$index]">
                                    <!-- <ul> -->
                                    <li ng-repeat="choice2 in related.choices">
                                        <input type="checkbox" ng-model="barfoo"
                                            ng-change="updateSelection(item)">{{choice2.name}}
                                    </li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>